h1

    {

font-family: calibri;
font-size: 30px;
font-style: normal;
font-weight: bold;
color: grey;
text-shadow: 2px 2px red;
text-decoration: underline;
text-align: center;
 }
  p
 {
font-family: verdana;
color:#4a53d8;
font-size: 20px;
text-transform: capitalize;
text-indent: 1cm;

}
